* {
    margin: 0;
    font-family:'Open Sans',
    sans-serif;
}

/* Header and navigation styles */
.header{
    background: #FFF8F3;
    background-image: url(../header_bg.png), url(../developer.png);
    background-repeat: no-repeat;
    background-position: right bottom,left;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
/* .btn-secondary{
    color: #FFFFFF;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 10px 17px;
    height: 50px;
    width: 166px;
} */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;

}

nav li {
    list-style: none;
    margin-left: 51px;
}

nav ul {
    display: flex;
    align-items: center;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 80px 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    text-align: left;
}
.banner-subtitle{
    font-weight: 600;
font-size: 45px;
margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px; 
    margin-bottom: 30px;
}
 /* Main section */
 main{
    max-width: 1140px;
    margin: 0 auto;
 }
/* About me styles */
.about_me{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.section-title{
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;

}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.About-info-container{
    display: flex;
    justify-content: space-around; 
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* What I do styles  */
.what-i-do{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.skill-description{
    color: #757575;
}
.skills{
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;
}
/* Resume style */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
}
 .resume-btn{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 113px;
 }
 /* contact styles */
    .contact .section-title{
    text-align: left;
    
    }
    .contact{
        display: flex;
        gap: 117px;
        background: #FFF8F3;
        padding: 130px 230px;
    }
    .contact input[type="text"],input[type="email"],textarea{
        margin-bottom: 24px;
        border: 0;
        width: 100%;
        padding-left: 30px;
        padding-top: 18px;
    }
    .contact a{
        text-decoration: none;
    }